body{
    
    background: radial-gradient(circle, rgba(240, 209, 133, 0.944) 0%, rgb(243, 231, 200) 100%)
}
h1{
    border: ;
    color:#fb8500 ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cabeçalho{
    padding: 10px;
    border: 20px;
    background-color: #023047;
    color:antiquewhite ;
    border-radius: 5%;
    .fonte {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

}

#resumo{
    font-size: ;
}